html {
    background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}
body{
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.clock{
    border-radius: 50%;
    border: 10px solid honeydew;
    width:30rem;
    height: 30rem;
    padding: 2rem;
}
.clock-face{
    position: relative;
    height: 100%;
    width: 100%;
}
.hand{
    width: 50%;
    background: black;
    height: 5px;
    position: absolute;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: 100%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0, 2.52, 0.49, 2.57);
    border-radius: 40px;
}
.second-hand{
    height: 2px !important;
}
.min-hand{
    height: 4px !important;
}
.hour-hand{
    height: 6px !important;
}